.catalog-of-dogs {
    display: grid;
    grid-template-columns: 1fr; /* Default: 1 column */
    gap: 20px; /* distance between cards */
    padding: 20px;
  }
    /* larger screens */
    @media (min-width: 768px) {
        .catalog-of-dogs {
          grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Rutnät med flera kolumner på större skärmar */
        }
      }