/* Dog detail page */
.dog-container {
    display: flex;
    justify-content: flex-start; 
    padding: 20px;
    max-width: 100%; 
    margin-top: 105px;
  }
  
  .dog {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .dog h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #333;
    display: flex;
    align-items: center; 
  }
  
  .dog-detail-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .dog p {
    font-size: 18px;
    color: #444;
    margin-bottom: 8px;
  }
  
  .dog p span {
    font-weight: bold;
    color: #333;
  }
  
  /* Status dot (green for checked-in, red for not checked-in) */
  .status-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 10px;
  }
  
  .status-dot.green {
    background-color: #28a745; /* Green for checked-in */
  }
  
  .status-dot.red {
    background-color: #dc3545; /* Red for not checked-in */
  }
  
  /* Back button */
  .back-button {
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .back-button:hover {
    background-color: #e67e22;
  }
    /* larger screens */
@media (min-width: 768px) { /*don't really know what size we should have here*/
    .catalog-of-dogs {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    }
    .dog-container {
        margin-top: 100px;
      
      }
}